/Ejercicios_condicionales/nbproject/private/
/Ejercicios_condicionales/build/
/Ciclos/nbproject/private/
/Ciclos/build/
/Arreglos/nbproject/private/
/Arreglos/build/
/Reto2/nbproject/private/
/Registro/nbproject/private/
/Registro/build/
/Reto3/nbproject/private/
/Reto3/build/
/JavaApplication9/nbproject/private/
/JavaApplication9/build/
/InventarioFerreteria/nbproject/private/
/InventarioFerreteria/build/
